<!-- views/posts.ejs -->

<%
    const dias = ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"];
    const meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
%>
<%  if(isAuthenticated) {
        if(userActive) { %>
            <div class="d-flex justify-content-end create-group">
                <div class="new-post">Nueva publicación</div>
                <a href="/newpost" class="circle-button"><span class="plus-sign">+</span></a>
            </div>
     <% }
    } 
%>
<!-- TABLA -->
<table class="table table-sm table-warning table-striped table-hover">    
    <thead>
        <td>#</td>
        <td>Título</td>
        <td>Contenido</td>
        <td>Foto</td>
        <td>Fecha</td>
        <td>Acceder</td>
    </thead>
    <tbody>
        <% posts.forEach((post, index) => { 
            const date = new Date(post.datePost);
            const number = date.getDate();
            const dia = dias[date.getDay()].toLowerCase();
            const mes = meses[date.getMonth()].toLowerCase();
            const hora = date.getHours();
            const minutos = date.getMinutes().toString().padStart(2, '0');
            const horario = `${hora}:${minutos}`;   
        %>
            <tr>
                <td class="guid">#<%= post.guid %></td>
                <td class="title"><%= post.title %></td>
                <td>
                    <button class="btn btn-link" data-toggle="collapse" data-target="#row<%= index %>">
                        Ver Contenido
                    </button>
                    <div id="row<%= index %>" class="collapse content">
                        <%= post.content %>
                    </div>
                </td>
                <td><div class="image-td"><img src="<%= post.img %>" /></div></td>
                <td class="date">Publicado el <%= `${dia} ${number} ${mes} a las ${horario}` %> hs</td>
                <td><a href="/post/<%= post.guid %>"><button class="btn btn-success view">Ver</button></a></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<ul class="pagination justify-content-center">
    <li class="page-item" id="previous-page">
        <a class="page-link bg-secondary text-white" href="#"  aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li class="page-item active">
        <a class="page-link bg-dark text-white" href="/posts/page/1" data-page="1">1</a>
    </li>
    <li class="page-item">
        <a class="page-link bg-dark text-white" href="/posts/page/2" data-page="2">2</a>
    </li>
    <li class="page-item">
        <a class="page-link bg-dark text-white" href="/posts/page/3" data-page="3">3</a>
    </li>
    <li class="page-item">
        <a class="page-link bg-dark text-white" href="/posts/page/4" data-page="4">4</a>
    </li>
    <li class="page-item">
        <a class="page-link bg-dark text-white" href="/posts/page/5" data-page="5">5</a>
    </li>
    <li class="page-item">
        <a class="page-link bg-dark text-white" href="/posts/page/6" data-page="6">6</a>
    </li>
    <li class="page-item">
        <a class="page-link bg-dark text-white" href="/posts/page/7" data-page="7">7</a>
    </li>
    <li class="page-item">
        <a class="page-link bg-dark text-white" href="/posts/page/8" data-page="8">8</a>
    </li>
    <li class="page-item">
        <a class="page-link bg-dark text-white" href="/posts/page/9" data-page="9">9</a>
    </li>
    <li class="page-item">
        <a class="page-link bg-dark text-white" href="/posts/page/10" data-page="10">10</a>
    </li>
    <li class="page-item" id="next-page">
        <a class="page-link bg-secondary text-white" href="#"  aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>
<script src="/assets/js/ui-posts.js"></script>