<!-- views/post.ejs -->

<!DOCTYPE html>
<html>
    <!-- CÓDIGO DE HEAD -->
    <%- include('partials/head') %>
    <body>
        <!-- CÓDIGO DE NAVBAR -->
        <%- include('partials/navbar') %>
        <!-- CONTENEDOR -->
        <div class="container">
            <!-- MENSAJE -->
            <div id="message"><%= message %></div>
            <!-- POST -->
            <div class="card mb-3">
                <div class="card-header">
                    Autor: <%= firstName %> <%= lastName %>
                </div>
                <div class="image-card">
                    <img src="<%= post.img %>" class="card-img-top" alt="<%= post.title %>">
                </div>
                    <div class="card-body">
                    <h5 class="card-title"><b>Título:&nbsp;&nbsp;</b><%= post.title %></h5>
                    <p class="card-text"><%= post.content %></p>
                    <p class="card-text"><small class="text-muted">Publicado el <%= post.datePost %></small></p>
                    <p class="card-text">GUID: <%= post.guid %></p>
                    <div class="d-flex justify-content-end">
                        <a href="/post/edit/<%= post.guid %>" class="btn btn-danger right">Editar</a>
                    </div>
                </div>
            </div>
        <!-- CÓDIGO DE FOOTER -->
        <%- include('partials/footer') %>
        <!-- SCRIPTS -->
        <script src="/assets/bootstrap/popper.min.js"></script>
        <script src="/assets/bootstrap/bootstrap.min.js"></script>
        <script src="/assets/js/tools.js"></script>
    </body>
</html>