<!-- views/users.ejs -->

<!DOCTYPE html>
<html>
    <!-- CÓDIGO DE HEAD -->
    <%- include('partials/head') %>
    <body>
        <!-- CÓDIGO DE NAVBAR -->
        <%- include('partials/navbar') %>
        <!-- CONTENEDOR -->
        <div class="container">
            <!-- MENSAJE -->
            <div class="text-center" id="message"><%= message %></div>
            <!-- TABLA -->
            <table class="table table-primary table-striped table-hover">    
                <thead>
                    <td>#</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Email</td>
                    <td>Perfil</td>
                </thead>
                <tbody>
                <% users.forEach(user => { %>
                        <tr>
                            <td> <%= user.id %>         </td>
                            <td> <%= user.firstName %>  </td>
                            <td> <%= user.lastName %>   </td>
                            <td> <%= user.email %>      </td>
                            <td> <a href="user/<%= user.id %>">Ver</a></td>
                        </tr>
                    </a>
                <% }); %>
                </tbody>
            </table>
        </div>
        <!-- CÓDIGO DE FOOTER -->
        <%- include('partials/footer') %>
        <!-- SCRIPTS -->
        <script src="/assets/bootstrap/popper.min.js"></script>
        <script src="/assets/bootstrap/bootstrap.min.js"></script>
        <script src="/assets/js/tools.js"></script>
    </body>
</html>